<table class="index">
  <thead>
  	<tr>
  		<th><%= t("name") %></th>
  	  <th><%= t("sku") %></th>	
  		<th><%= t("assembly_options") %></th>
  		<th><%= t("options") %></th>
  		<th><%= t("qty") %></th>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
    <% assemblies.each do |assembly| 
				assembly.parts.each do |part|
			-%>
	      <tr id="<%= dom_id(part, :sel)%>">
	        <td><%= part.product.name %></td>			
	        <td><%= part.sku %></td>			
	        <td><%= variant_options assembly %></td>		
	        <td><%= variant_options part %></td>
	        <td><%= text_field_tag :count, assembly.count_of(part) %></td>
	  	    <td class="actions">
	          <%= image_tag "spinner.gif", :style => "display:none", :class => "spinner" %>
	          <%= link_to(icon('edit') + ' ' + t('update'),
	                      set_count_admin_product_assembly_part_url(@product, assembly, part),
	                      :class => "set_count_admin_product_part_link") %>

	          <%= link_to(icon('delete') + ' ' + t('remove'), 
	                      remove_admin_product_assembly_part_url(@product, assembly, part),
	                      :class => "remove_admin_product_part_link") %>             
	  	    </td>        
	      </tr>
    <% 	end
			end
 		-%>
    <% if assemblies.empty? %>
     <tr><td colspan="5"><%= t('none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
<%= javascript_tag("subscribe_product_part_links();") if request.xhr? %>
